.overview {
  width: 100%;
}

.text-container {
  max-width: 1300px;
  margin: 0 auto;
}

.overview-container, .specs-container {
  max-width: 900px;
}

.overview-header {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.overview-body {
  color: #5b6a69;
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  color: #5b6a69;
}